.topnav {
    display: flex;
    padding: 5px;
    margin: 0 auto;
    line-height: 50px;
    width: 100%;
    padding-left: 30px;
    gap: 50px;
}


.logo{
    display: flex;
    justify-content:flex-start;
    gap: 5px;
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    width: 20%;
}

.NomEmp{
    display: flex;
    width: auto;
}

  
.titulosistema{
    display: flex;
    width: 70%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: var(--primary-color);
    align-items: center;
    align-content: center;
    justify-content:center;

}

  /* Menu */
.menu {
    display: flex;
    justify-content:flex-end;
    margin-right: auto;
    list-style: none;
    margin: 0;
    padding: 0;    
    width: 20%;
}
  
.menu li {
    padding: 0 15px;
}
  
.menu a {
    color: var(--primary-color) !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px ;
    position: relative;    

}

.menu svg {    
    font-size: 20px;
}
  
.open-menu,
.close-menu {
    display: none;
}
  

/* Proceso para pantallas pequeñas celulares tablet etc*/
@media (max-width: 600px) {
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    justify-content:flex-start;
    margin-right: 0;
    margin-top: 0;
    background-color: var(--menu-mobile-background-color);
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    border: 5px solid red;
  }
  
  
  .menu li {
    padding: 0;
  }

  .menu a {
    color: var(--primary-color);
    line-height: 60px;
  }

  .titulosistema{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

  .NomEmp {
    display: none;
  }

  .close-menu,
  .open-menu{
    display: block;
    background: none;
    border: none;
  }

  .close-menu {
    align-self: flex-end;
    padding-top: 5px;
    padding-right: 5px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  /*
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  } */
}